<p>Olá <strong>{{studentName}}</strong></p>
<br />
<p>Sua matricula foi registrada com sucesso.</p>
<br />
<p>O plano escolhido foi o <strong>{{planTitle}}</strong> com valor total de
  <strong>${{ registrationPrice }}</strong>,
  válido de
  {{registrationStartDate}} até {{ registrationEndDate }}.</p>
<br />
<p>O ID para acesso no app é <strong>{{studentId}}</strong>.</p>
<br />

<p>Grazie mille</p>
