<p>Olá <strong>{{studentName}}</strong></p>
<br />
<p>Sua matricula foi alterada com sucesso.</p>
<br />
<p>O plano atual é o <strong>{{planTitle}}</strong> com valor total de
  <strong>${{ registrationPrice }}</strong>,
  válido de
  {{registrationStartDate}} até {{ registrationEndDate }}.</p>
<br />
<p>Grazie mille</p>
